{% comment %}
    @param {Boolean} center 
{% endcomment %}

{% if include.center %}
<ul class="list-inline text-center">
{% else %}
<ul class="list-inline">
{% endif %}

  {% if site.RSS %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.zhihu_username %}
  <li>
    <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa  fa-stack-1x fa-inverse">知</i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.weibo_username %}
  <li>
    <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.gmail %}
  <li>
    <a target="_blank" href="mailto:{{ site.gmail }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.github_username %}
  <li>
    <a target="_blank" href="https://github.com/{{ site.github_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"><svg t="1686901910822" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4493" width="16" height="16"><path d="M938.666667 136.533333h-853.333334C37.546667 136.533333 0 174.08 0 221.866667v580.266666C0 849.92 37.546667 887.466667 85.333333 887.466667h853.333334c47.786667 0 85.333333-37.546667 85.333333-85.333334v-580.266666C1024 174.08 986.453333 136.533333 938.666667 136.533333z m-58.026667 34.133334L512 406.186667 143.36 170.666667h737.28zM170.666667 358.4l314.026666 238.933333-314.026666 238.933334v-477.866667zM204.8 853.333333l119.466667-88.746666 191.146666-143.36 191.146667 143.36L819.2 853.333333H204.8z m648.533333-17.066666l-314.026666-238.933334 314.026666-238.933333v477.866667z" fill="" p-id="4494"></path></svg></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.linkedin_username %}
  <li>
    <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
</ul>